
#Ignore thumbnails created by Windows
Thumbs.db
/idea/*
.idea/*
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/vendor/autoload.php
/vendor/composer/autoload_classmap.php
/vendor/composer/autoload_namespaces.php
/vendor/composer/autoload_psr4.php
/vendor/composer/autoload_real.php
/vendor/composer/autoload_static.php
/vendor/composer/ClassLoader.php
/vendor/composer/installed.json
/vendor/composer/LICENSE
